html{
    background: #2f4f4f;
}
.perfil{
  border-radius: 100%;
  background: transparent;
  border-width: -7rem;
  background-color: #ff1b4600;
  border-style: groove;
  height: 200px;
  }

  .I{
    text-align: center;
  }

  .A{
    text-align: center;
    }
.P{
text-align: center;
}
.E{
text-align: center;
}
.T{
text-align: center;
}

p, h1,b{
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

label{
  border: 0px;
}

footer{
  background-color: #2f4f4f;
  margin: 0;
  color:white;
  display: grid;
  height: 100%;
}
.Linke, .github{
  height: 70px;
}


.theme--light, .theme--dark  {
  height: 100%;
}

.view{
  display: grid;
  gap: 1rem;
  grid-auto-rows: 30rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  background: gray;
}

.po{
width: 150px;
border-color: #4CAF50;
border-style: inset;
}

.go {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.go:hover {background-color: #3e8e41}

.go:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  }

  .sun{
    width: 11rem;
    height: 4rem;
    position: absolute;
    border-radius: 100px;
    display: flex;
    margin: 13px;

  }
  .u-text--light{
    border: 1px;
  }
  
  .u-text--light:after {
    background: #2f4f4f;
  }

.u-text--light:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #2f4f4f;
    box-sizing: border-box;
}

.u-text--light:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 25px;
    background: #2f4f4f;
    border-radius: 25px;
}

.stu{
  height: 101px;
  width: 100px;
}

.disguise{
  color:white;
}