html{
    background: #2f4f4f;;
}
img{
    border-radius: 50%;
    height: 15rem;
  }

  .I{
    text-align: center;
    color: wheat;
  }

  .A{
    color: wheat;
    text-align: center;
    }
.P{
color: wheat;
text-align: center;
}
.E{
color: wheat;
text-align: center;
}
.T{
text-align: center;
color: wheat;
}

p, h1{
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

label{
  background: #3c3636;
  border-radius: 50px;
  color: wheat;
}

body {
  margin: -3%;
}