:root {
    --font-size--small: 0.9rem; /* 14px */
    --font-size--default: 1.1rem; /* 16px */
    --font-size--large: 1.8rem; /* 24px */
    
    --color-black: black;
}


.theme--dark {
   background: white;
   color: black;
    
}

.theme--light {
    background: black;
}
